.contenedor {
    width: 100vw;
    height: 100vh;
}


.estiloBarra {
    width: 100vw;
    height: 7%;
    background-color: rgb(7, 110, 207);
    display: flex;
    flex-grow: 1r;

}

.div-input {
    width: 15%;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    margin-top: 5px;
}
.btn:hover {
    background-color: RoyalBlue;
}

.div-btn {
    margin-top: 10px;
    margin-left: 10px;
}

.contenedorRecetas{
    padding-top: 20px;
    width: 50%;
    margin: auto;
}